/* ===========================
   ANIMATIONS DE GRADIENTS GLOBALES
   =========================== */

/* Animation principale : défilement horizontal */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Variante : sens inverse */
@keyframes gradientReverse {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


@keyframes slide-gradient {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}


@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%, 0% 50%;
  }
  50% {
    background-position: 0% 50%, 100% 50%;
  }
  100% {
    background-position: 0% 50%, 0% 50%;
  }
}


.animated-gradient {
  background: var(--gradient-primary);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
  color: var(--text);
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease,
    filter 0.4s ease;
}

/* Effet hover sur le bouton */
.animated-gradient:hover {
  animation: gradientReverse 6s ease infinite;
  transform: translateY(-4px) scale(1.03);
  filter: brightness(1.25) saturate(1.3);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 0 12px var(--accent-light),
    0 0 24px var(--accent);
}

/* .gradient-static {
  background: var(--gradient-primary);
  background-size: 200% 200%;
  background-position: 50% 50%;
  color: var(--text);
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease,
    filter 0.4s ease;
} */

/* Variante hover sans animation de gradient */
/* .gradient-static:hover {
  transform: translateY(-4px) scale(1.03);
  filter: brightness(1.08) saturate(1.1);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 0 12px var(--accent-light),
    0 0 24px var(--accent);
} */

/* Container */
.flip-card {
  perspective: 1000px;
}

/* Mécanique interne */
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Face cachée + face visible */
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Face arrière */
.flip-back {
  transform: rotateY(180deg);
}

/* Hover : on retourne */
.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}
