---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="bg-slate-700 justify-center items-center text-center mt-20 text-white p-4"
  >
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white">
      Ici prochainement mon Portfolio
    </h1>
    <section id="section1" class="dark:text-white">
      <h2>section 1</h2>
    </section>
    <section id="section2" class="dark:text-white">
      <h2>section 2</h2>
    </section>
    <section id="section3" class="dark:text-white">
      <h2>section 3</h2>
    </section>
    <section id="section4" class="dark:text-white">
      <h2>section 4</h2>
    </section>
    <section id="section5" class="dark:text-white">
      <h2>section 5</h2>
    </section>
  </div>
</BaseLayout>
