---
import Button from "./Button.astro"
---

<div class="fixed bottom-0 left-0 right-0 bg-gray-100 dark:bg-slate-700 p-4 shadow-lg z-50" id="cookie-banner">
  <div class=" text-gray-600 dark:text-red-100 max-w-4xl mx-auto">
    <p class="text-sm text-center mb-4">
      Ce site utilise des cookies pour analyser le trafic.
    </p>
    <div class="flex flex-wrap justify-center gap-2">
      <Button variant="validez" id="accept-all" >
        Accepter
      </Button>
      <Button variant="supprimer" id="decline-all" >
        Refuser
      </Button>
    </div>
  </div>
</div>




