---
import "../styles/footer.css";
---

<footer class="site-footer">
  <div class="footer-container">
    <p class="footer-text">© {new Date().getFullYear()} Isabelle LAMARRE — Tous droits réservés.</p>

    <nav class="footer-nav">
      <ul class="footer-list">
        <li><a href="/m-legales">Mentions légales</a></li>
        <li><button id="manage-cookies" class="manage-cookies-link" type="button">
            Gérer mes cookies
          </button>
   </li>
      </ul>
    </nav>
  </div>
</footer>
