---

---

<footer
  class="bg-[var(--bg-light)] dark:bg-zinc-950 backdrop-blur-md shadow-md transition-colors duration-300 border-t border-gray-200 dark:border-gray-800 mt-auto"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="text-center">
      <p class="text-gray-800 dark:text-gray-400 mb-4">
        © {new Date().getFullYear()} Isabelle LAMARRE — Tous droits réservés.
      </p>

      <nav>
        <ul class="flex justify-center gap-6 text-sm">
          <li>
            <a
              href="/m-legales"
              class="text-gray-600 dark:text-gray-400 font-medium transition-colors"
            >
              Mentions légales
            </a>
          </li>
          <li>
            <a
              aria-label="gerer les cookies"
              id="manage-cookies"
              class="text-gray-600 dark:text-gray-400 font-medium transition-colors"
            >
              Gérer mes cookies
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
