---
import ThemeToggle from "./ThemeToggle.astro";
const isHome = Astro.url.pathname === "/";
---

<header class="fixed top-0 left-0 right-0 z-50 bg-[var(--bg-light)] dark:bg-zinc-950 backdrop-blur-md shadow-md transition-colors duration-300">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      
      <!-- Logo -->
      
      <div class="flex-shrink-0">
        <a href="/" aria-label="home" class="flex items-center hover:text-[var(--neon)] transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="currentColor">
            <path d="M226.67-186.67h140v-246.66h226.66v246.66h140v-380L480-756.67l-253.33 190v380ZM160-120v-480l320-240 320 240v480H526.67v-246.67h-93.34V-120H160Zm320-352Z"/>
          </svg>
        </a>
      </div>
      
      <!-- Navigation Desktop -->
    {isHome && (
      <ul class="hidden md:flex items-center space-x-8">
        <li><a href="#about" class="hover:text-[var(--neon)] font-medium transition-colors">Qui suis-je?</a></li>
        <li><a href="#certifications" class="hover:text-[var(--neon)] font-medium transition-colors">Certifications</a></li>
        <li><a href="#technos" class="hover:text-[var(--neon)] font-medium transition-colors">Technos</a></li>
        <li><a href="#realisations" class="hover:text-[var(--neon)] font-medium transition-colors">Réalisations</a></li>
        <li><a href="#reviews" class="hover:text-[var(--neon)] font-medium transition-colors">Avis</a></li>
        <li><a href="#contact" class="hover:text-[var(--neon)] font-medium transition-colors">Contacts</a></li>
        <li><a href="/CV.pdf" target="_blank" rel="noopener noreferrer" class="hover:text-[var(--neon)] font-medium transition-colors">Voir le CV</a></li>
      </ul>
     )}
      <!-- Theme Toggle -->
      <div>
        <ThemeToggle />
      </div>

      <!-- Burger Menu Mobile -->
    {isHome && (
      <button 
        id="mobile-menu-button"
        class="md:hidden p-2 rounded-lg hover:bg-gray-200/50 dark:hover:bg-gray-700/50 transition-colors font-semibold text-[var(--color-text)]"
        aria-label="Menu"
      >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      )}

    <!-- Menu Mobile -->
    <div id="mobile-menu" class="hidden text-center md:hidden pb-4 mt-80 rounded-lg bg-white/70 dark:bg-slate-900/70 backdrop-blur-md shadow-lg transition-all duration-300">
      <ul class="space-y-2 px-4">
        <li><a href="#about" class="block px-4 py-2 hover:text-[var(--neon)] rounded-lg transition-colors">Qui suis-je?</a></li>
        <li><a href="#certifications" class="block px-4 py-2 hover:text-[var(--neon)] rounded-lg transition-colors">Certifications</a></li>
        <li><a href="#technos" class="block px-4 py-2 hover:text-[var(--neon)] rounded-lg transition-colors">Technos</a></li>
        <li><a href="#realisations" class="block px-4 py-2 hover:text-[var(--neon)] rounded-lg transition-colors">Réalisations</a></li>
        <li><a href="#reviews" class="block px-4 py-2 hover:text-[var(--neon)] rounded-lg transition-colors">Avis</a></li>
        <li><a href="#contact" class="block px-4 py-2 hover:text-[var(--neon)] rounded-lg transition-colors">Contacts</a></li>
        <li><a href="/CV.pdf" target="_blank" rel="noopener noreferrer" class="block px-4 py-2 hover:text-[var(--accent-dark)] rounded-lg transition-colors">Voir le CV</a></li>
      </ul>
    </div>
  </nav>
</header>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  mobileMenuButton?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('hidden');
  });

  const mobileLinks = mobileMenu?.querySelectorAll('a');
  mobileLinks?.forEach(link => {
    link.addEventListener('click', () => {
      mobileMenu?.classList.add('hidden');
    });
  });
</script>
