---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from "../components/Analytics.astro";
import "../styles/global.css";
import "../styles/effects.css";
const GA_ID = import.meta.env.PUBLIC_GA_ID;
---

<!doctype html>
<html lang="fr" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Isabelle LAMARRE Portfolio</title>
    <meta
      name="description"
      content="Portfolio d'Isabelle LAMARRE - Développeuse Web/JS/React/Next/Astro"
    />
    <meta name="ga-id" content={GA_ID} />

    <!-- Script pour éviter le flash de contenu -->
    <script is:inline>
      // Appliquer le thème immédiatement avant le rendu
      (function () {
        const theme = localStorage.getItem("theme") || "light";
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>
  <body
    class="min-h-screen flex flex-col transition-colors duration-500 relative overflow-x-hidden"
  >
  
    <div class="relative z-10 flex flex-col min-h-screen">
      <Header />
      <main class="flex-grow pt-16">
        <slot />
      </main>
      <Analytics />
      <Footer />
    </div>
    <script is:inline define:vars={{ GA_ID }} type="module" src="/script/banner-cookies.js"></script>
  </body>
</html>
